.fieldsetbleu, .legendbleu {
    background-color:blue;
}
.fieldsetviolet, .legendviolet {
    background-color:violet;
}
.fieldsetrouge, .legendrouge {
    background-color:red;
}

#VISA {
    margin-left: 10%;
}
#Mastercard {
    margin-left: 10%;
}
