.fieldsetbleu {
    background-color:blue;
}
.fieldsetviolet {
    background-color:violet;
}
.fieldsetrouge {
    background-color:red;
}
.legendbleu {
    background-color:blue;
}
.legendviolet {
    background-color:violet;
}
.legendrouge {
    background-color: red;
}

#VISA {
    margin-left: 10%;
}
#Mastercard {
    margin-left: 10%;
}
